@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4321 MyRoad Ln.<br />
    Denver, CO 80516
</address>

<address>
    <strong>Ideas:</strong>   <a href="mailto:m.drummer64@gmail.com">m.drummer64@gmail.com</a><br />
</address>