@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Wallace Vlog -</h1>
    <p class="lead">Welcome, you have just stumbled on the blog of a man. This man would like to keep you interested visitors (and other friends &nbsp; family) up to date on my worldly travels! I hope you find my internation trip vlog fun and informative, Thanks for visiting!</p>
    <p><a href="/Movies/Index" class="btn btn-primary btn-large">VLog &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Watch Now</h2>
        <p>Miss last weeks vlog update? That's ok, just jump on over to see all of the videos I've uploaded!</p>
        <p><a class="btn btn-default" href="/Movies/Index">Videos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Ideas</h2>
        <p>Finding my site boring? Send me some ideas of things to do while I am in foregin countries!</p>
        <p><a class="btn btn-default" href="/Home/Contact">Send Ideas &raquo;</a></p>
    </div>
</div>